logs/players*
compiler/vc17*
compiler/boost_filesystem-vc143-mt-x64-1_84.dll
compiler/libmariadb.dll
compiler/lua51.dll
compiler/mpir.dll
compiler/pugixml.dll
compiler/theforgottenserver.exe
compiler/theforgottenserver.pdb
compiler/zlib1.dll
